name: run automated tests

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test_and_build:
    name: Test and build samples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: run tests
        run: mvn clean test | tee test.log
      - name: build artifacts
        run: mvn clean package
      - name: set up artifacts
        run: mkdir artifacts && cp test.log target/*.jar artifacts
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: artifacts
